@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --primary-200: #001B1D;
  --primary-300: #002B36;
  --primary-400: #014D4E;
  --secondary-200: #45EDFA;
  --secondary-300: #2FE5DA;
  --secondary-400: #6CEEFF;
  --secondary-500: #38F2E6;
  --Lavender: #C1C5D0;

  --primary-100: #006B74;
  --body-bg: #EBF5F5;
}

html,
body {
  width: 100%;
  height: 100%;
  background: var(--body-bg);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

.hero_section {
  background-image: url(./assets/here_bg.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 88vh;
  padding: 40px 0px 0px 0px;
}

.teamscondition {
  background-image: url(./assets/teams-contition.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 40vh;
}

.aboutus {
  background-image: url(./assets/about-image.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 40vh;
}

.services {
  background-image: url(./assets/services-imgae.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 40vh;
}

.privacyPolicy {
  background-image: url(./assets/privacy-policy.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 40vh;
}

.here_letest_villa {
  background: var(--primary-200);
  width: 100%;
  height: 100%;
  padding: 0px 4px 64px 4px;
  border-radius: 0% 0% 52% 48% / 0% 0% 16% 16%;
  display: flex;
  flex-direction: column;
  gap: 84px;
}

.here_letest_img {
  /* background: #00A2FF; */
  width: 100%;
  height: 100%;
}

.here_letest_img img {
  width: 100%;
  height: 100%;
  object-fit: scale-down;
  border-radius: 0% 32% 0% 32% / 0% 32% 0% 32%;
}



.luxury_card_section {
  background-image: url(./assets/luxury_bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 32px;
  width: 100%;
  padding: 32px 48px;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.luxury_section {
  padding: 0px 80px;
}

.Luxury_section {
  background-image: url(./assets/villa_show_case.png);
  background-size: cover;
  background-position: contain;
  background-repeat: no-repeat;
  border-radius: 32px;
  width: 100%;
  height: 90vh;
}

.subscribe_section {
  background-image: url(./assets/sub-bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 32px;
  width: 100%;
  padding: 32px 48px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

@media screen and (max-width: 768px) {
  .here_letest_villa {
    padding: 0px 4px 64px 4px;
    border-radius: 0% 0% 52% 48% / 0% 0% 10% 10%;
  }

  .luxury_section {
    padding: 32px 50px;
  }

  .luxury_card_section {
    padding: 24px 32px;
  }

}

@media screen and (max-width: 600px) {
  .luxury_section {
    padding: 24px 20px;
    height: 100%;
  }

  .Luxury_section {
    height: 100%;
  }

  .luxury_card_section {
    padding: 24px;
  }

  .subscribe_section {
    padding: 24px;
    gap: 24px;
  }
}